<% include ../partials/header %>
  <h1>All my posts! BAM!</h1>
  <a href="/authors">Back to Authors! </a>
  <% posts.forEach(function(post){ %>
  <p><%= post.title %></p>
  <br>
  <p><%= post.post %></p>
  <form action="/posts/<%= post.id %>?_method=delete" method="post">
    <input type="submit" value="Delete">
  </form>
  <form>
  <a href="/posts/<%= post.id %>/edit">Edit</a>
  </form>
  <% }); %>
<% include ../partials/footer %>