<% include ../partials/header %>
<div 
  <p> A little info about our book!
    <br>
    Title: <%= post.title%>
    <br>
    Author: <%= post.authorId%>
    <br>
    Post: <%= post.post%>
  </p>


<a href="/posts">Go home</a>

<% include ../partials/footer %>