<% include ../partials/header %>
  <h1>All my authors! BAM!</h1>
  <a href="/authors/new">Add a new authors! </a>
  <% authors.forEach(function(author){ %>
  <div class="row">
    <!-- Add the extra clearfix for only the required viewport -->
      <p><%= author.name %></p>
      <a href="/posts/<%= author.id %>/new">Add a new post</a>
      <form action="/authors/<%= author.id %>?_method=delete" method="post">
      	<button type="submit" class="btn btn-default" value="Delete">Delete</button>
        <!-- <input type="submit" value="Delete"> -->
      </form>

      <a href="/authors/<%= author.id %>/edit" class="btn btn-default">Edit</a> 
  </div>
  <% }); %>
<% include ../partials/footer %>